{% extends '::base.html.twig' %}

{% block content %}
<div class="hero-unit">
    <h1>Hello World</h1>
</div>
{% for item in provider %}
{{ url('trismegiste_oauth_check',{provider:item}) }}
<a href="{{ path('trismegiste_oauth_connect_with', {provider:item}) }}" class="btn-success">Login with {{ item }}</a>
<br/>
{% endfor %}
{% endblock %}
