{% extends '::base.html.twig' %}

{% block content %}
<div class="hero-unit">
    <h1>Hello World</h1>
</div>
<a href="{{ path('connect_with', {provider:"github"}) }}" class="btn-success">Login with github</a>
{% endblock %}
