<html>
    <body>
        <h1>Dummy OAuth provider</h1>
        <form action="{{ redirect }}" method="GET">
            <input type="text" name="uid"/>
            <input type="submit" value="Redirect"/>
        </form>
    </body>
</html>